{% extends "base.html" %}

{% block content %}

{% for video in videos|sort %}
                <div class="video_cart">
                    <div class="thumbnails">
                        {% for thumbnail in videos[video]['thumbnails'] %}
                            <img src="/static/media/pics/{{thumbnail}}">
                        {% endfor %}
                    </div>
                    <div class="datetime">
                        {{ videos[video]['datetime'] }} |
                        <a href="/static/media/videos/{{video}}">play</a> |
                        <a href="/api/delete/{{video}}">delete</a>
                    </div>
                </div>
            {% endfor %}

{% endblock %}