{% extends "base.html" %}

{% block css %}
<style>
textarea {
    width: 50%;
    height: 500px;
}

div.log_src {
    border-radius: 5px;
    padding: 0px 6px;
    text-align: right;
}

div.log_src.uploader {
    background-color: #bbf;
}
div.log_src.youtube {
    background-color: #fbb;
    
}
div.log_src.camera {
    background-color: #bfb;
}
div.log_src.light {
    background-color: #ffb;

}
div.log_src.power {
    background-color: #bbb;
}

table {
    border-collapse: collapse;
}

td {
    padding: 1px 5px;
}

tr:hover td {
    background-color: #ddd;
}

td.time, td.log_src {
    border-right: 1px solid #ddd;
}

</style>
{% endblock %}

{% block content %}

Time since last contact: 
{% if seconds_since_last_contact>120 %}
    <span style="color: #f00; font-weight: bold;">{{ seconds_since_last_contact }}s - probably down</span>
{% elif seconds_since_last_contact>30 %}
    <span style="color: #fa0; font-weight: bold;">{{ seconds_since_last_contact }}s - ?</span>
{% else %}
    <span style="color: #0e0; font-weight: bold;">{{ seconds_since_last_contact }}s - OK</span>
{% endif %}

<div id="log">
<table>
{% for log in logs[::-1] %}
    <tr>
        <td class="time">{{log['time']|datetime}}</td>
        <td class="log_src">

            {% if 'uploader.py' in log['src'] %}
                <div class="log_src uploader"> uploader <i class="fa fa-upload"></i></div>
            {% endif %}
            {% if 'youtube.py' in log['src'] %}
                <div class="log_src youtube"> youtube <i class="fa fa-youtube"></i></div>
            {% endif %}
            {% if 'camera.py' in log['src'] %}
                <div class="log_src camera"> camera <i class="fa fa-video-camera"></i></div>
            {% endif %}
            {% if 'light_control.py' in log['src'] %}
                <div class="log_src light"> light <i class="fa fa-lightbulb-o"></i></div>
            {% endif %}
            {% if 'shutdown_button.py' in log['src'] %}
                <div class="log_src power"> power <i class="fa fa-power-off"></i></div>
            {% endif %}
        </td>
        <td>{{log['log']}}</td>
    </tr>
{% endfor %}
</table>
</div>

{% endblock %}