{% extends "base.html" %}

{% block css %}
<style>
textarea {
    width: 50%;
    height: 500px;
}

</style>
{% endblock %}

{% block content %}


check for new picture every <input value="60" type="text" id="refreshrate"> seconds.
<img id="photo" class="center" src="/static/media/pics/photo.jpg" width="75%">

<script>

function updateImage()
{
    var newImage = new Image();
    newImage.src = "/static/media/pics/photo.jpg?" + new Date().getTime();
    console.log(newImage)
    document.getElementById("photo").src = newImage.src;
    setTimeout(updateImage, document.getElementById("refreshrate").value);
}
updateImage();
</script>


{% endblock %}
