{% extends "base.html" %}

{% block css %}
<style>

#settings {

}

#settings input[type=text] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input[type=text].small {
  width: 30px;
}

#settings .form_desc {
  width: 500px;
  float: left;
  text-align: right;
  padding: 5px;
  clear: both;
}

input[type=submit]:hover, input[type=button]:hover {
  background-color: #bbb;
  border: 1px solid #999;

}

input[type=submit], input[type=button] {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #bbb;
  background-color: #ccc;
  cursor: pointer;
}

.form_line {
  padding: 5px;
}

</style>
{% endblock %}

{% block content %}
<div>
{% if yt_auth_url %}
The Raspberry Pi has to be authenticated. Use this the url and enter the authentication code:<br>
<a href="{{yt_auth_url}}">{{yt_auth_url}}</a><br>
<input id="yt_auth_code" type="text" value="{{yt_auth_code}}">
<input type="submit" value="submit auth token" onclick="post('/api/yt_auth_code', JSON.stringify({'code': document.getElementById('yt_auth_code').value}), 'settings_submit')">
{% endif %}
</div>
<div id="settings">
  <form action="" method="post">
    
    <div class="form_line">
      <div class="form_desc">
        maximum video length: 
      </div>
      <input class="small" type="text" name="max_len" value={{settings['max_len']}}>
    </div>
    <div class="form_line">
      <div class="form_desc">
        how many vectors have to be over certain magnitude: 
      </div>
      <input class="small" type="text" name="nr_vectors" value={{settings['nr_vectors']}}>
    </div>
    <div class="form_line">
      <div class="form_desc">
        min magnitude of vectors: 
      </div>
      <input class="small" type="text" name="magnitude" value={{settings['magnitude']}}>
    </div>
    <div class="form_line">
      <div class="form_desc">
        how many detections to count as a recording: 
      </div>
      <input class="small" type="text" name="motions" value={{settings['motions']}}>
    </div>
    <div class="form_line">
      <div class="form_desc">
        in what timeframe should those motions occur: 
      </div>
      <input class="small" type="text" name="min_len" value={{settings['min_len']}}>
    </div>
    <div class="form_line">
      <div class="form_desc">
        fps: 
      </div>
      <input class="small" type="text" name="fps" value={{settings['fps']}}>
    </div>
    <div class="form_line">
      <div class="form_desc">
        IR LED %: 
      </div>
      <input class="small" type="text" name="ir_led" value={{settings['ir_led']}}>
    </div>
    <div class="form_line">
      <div class="form_desc">
        seconds before motion: 
      </div>
      <input class="small" type="text" name="pre_motion" value={{settings['pre_motion']}}>
    </div>
    <div class="form_line">
      <div class="form_desc">
        seconds after motion: 
      </div>
      <input class="small" type="text" name="post_motion" value={{settings['post_motion']}}>
    </div>
    <div class="form_line">
      <div class="form_desc">
        rotation: 
      </div>
      <input class="small" type="text" name="rotation" value={{settings['rotation']}}>
    </div>
    <div class="form_line">
      <div class="form_desc">
        preview: 
      </div>
      <input class="small" type="text" name="preview" value={{settings['preview']}}>
    </div>
    <div class="form_line">
      <div class="form_desc">
        video width/height: 
      </div>
      <input class="small" type="text" name="video_width" value={{settings['video_width']}}> px
      /
      <input class="small" type="text" name="video_height" value={{settings['video_height']}}> px
    </div>
    <div class="form_line">
      <div class="form_desc" id="settings_submit">
        
      </div>
      <input type=submit>
    </div>
  </form>
</div>

{% endblock %}